@import 'assets/styles/variable';
.dropzone {
  height: 200px;
  background: white;
  border-radius: 20px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px auto;
  outline: 0;
}

.dropzone img {
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
  height: 200px;
}

.dropzone p {
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  border-radius: 10px;
  border: 1px dashed $main-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropzone p svg {
  color: $main-color;
  width: 24px;
  height: 24px;
}
.error {
  position: absolute;
  color: $main-color;
  font-size: 8px;
  font-weight: bold;
  top: 250px;
}
