@import 'assets/styles/variable';
.nav {
  &_logo {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
  }
  &_link {
    box-shadow: inset 0 0 0 0 $main-color;
    font-weight: 600;
    padding: 0 0.5rem;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 10px;
    min-width: 100px;
    text-align: center;
    min-height: 30px;
    line-height: 30px;
    cursor: pointer;
    a {
      color: $main-color;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      box-shadow: inset 100px 0 0 0 $main-color;
      a {
        color: white;
      }
    }
  }
  &_link_active {
    box-shadow: inset 100px 0 0 0 $main-color;
    a {
      color: white;
    }
  }
  &_btn {
    width: 25%;
    border: 2px solid $main-color;
    color: $main-color;
    border-radius: 20px;
    padding: 0.1rem 0.25rem;
    background: #f8f9fa;
    transition: all 0.3s ease-in-out;
    min-width: 200px;
    &:hover,
    &:focus {
      border: 2px solid $main-color;
      background: linear-gradient(310deg, #7928ca 0%, $main-color 100%);
      color: #f8f9fa;
    }
  }
}
