@import 'assets/styles/variable';
.content_bg {
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 2% 0 0 40%;
  opacity: 0.4;
  width: 50%;
  height: 100%;
  z-index: -10;
}

.content {
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 30px;
  min-height: 80vh;
  > h2 {
    background-image: linear-gradient(20deg, #d4c0e7 0%, $main-color 100%);
    border-radius: 20px 20px 0 0;
    color: #ffffff;
  }
}
