@import 'assets/styles/variable';
.card {
  &_image {
    height: 130px;
    object-fit: cover;
  }
  &_body {
    height: 100px;
    h5 {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
  &_chip {
    border-radius: 20px;
    border: 1px solid $main-color;
    color: $main-color;
  }
  &_close {
    position: absolute;
    z-index: 15;
    border-radius: 50%;
    opacity: 0.7;
    right: 20px;
    &:hover {
      background-color: aliceblue;
      transform: scale(1.2);
    }
  }
}
.card_blog {
  transition: all 0.4s ease-in-out;
  transition-delay: 0.2s;
  opacity: 0.9;
  &:hover {
    transform: scale(1.05);
  }
}
