@import 'assets/styles/variable';
.pagination_wrap {
  a {
    transition: 0.7s ease-in-out;
    color: $main-color;
    &:hover {
      color: $main-color;
    }
  }
  .pagination_active {
    a {
      background-color: $main-color;
      color: white;
    }
  }
}
