@mixin flex-box(
  $justifyContent: center,
  $alignItem: center,
  $flexDirection: row
) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItem;
}
@mixin center-box() {
  margin: auto;
  text-align: center;
}
@mixin position-center() {
  position: absolute;
  top: 50%;
  left: -50%;
}
@mixin framWidthraw() {
  box-shadow: 0px 3px 6px #9a9999;
  background-color: #f8f8f8;
  margin: 0 auto;
}
@mixin background-img($img) {
  min-height: 100vh;
  padding: 0;
  background-image: url($img);
  background-size: cover;
}
