$main-color: #ff0080;

// Small mobile (portrait view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

//small desktops
$screen-lg-2-min: 1024px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Large tablets and desktops
$screen-xl1-min: 1375px;

// Large desktops 1440
$screen-xl2-min: 1440px;

// Large desktops 1920
$screen-xl3-min: 1919px;

// Large desktops 4k
$screen-xl4-min: 2560px;

// Medium devices
@mixin sm {
  @media only screen and (max-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media only screen and (max-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media only screen and (max-width: #{$screen-lg-min}) {
    @content;
  }
}

// Large devices
@mixin lg-2 {
  @media only screen and (max-width: #{$screen-lg-2-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media only screen and (max-width: #{$screen-xl-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl1 {
  @media only screen and (max-width: #{$screen-xl1-min}) {
    @content;
  }
}

// Extra large devices 2
@mixin xl2 {
  @media only screen and (max-width: #{$screen-xl2-min}) {
    @content;
  }
}

// Extra large devices 3
@mixin xl3 {
  @media only screen and (max-width: #{$screen-xl3-min}) {
    @content;
  }
}

// Extra large devices 4
@mixin xl4 {
  @media only screen and (max-width: #{$screen-xl4-min}) {
    @content;
  }
}
$withdraw-color: #808080;
